
.app{background:#fff}
.headerText{margin:0 65px;text-align:center;font-size:18px;line-height:50px}
.left-back{width:35px;height:35px;position:absolute;left:5px;top:7px;background:url(../images/liuimgs/icon.png);background-position: 0px 0px;background-size:35px auto}
.right-more{width:35px;height:35px;position: absolute;right:5px;top:7px;background: url(../images/liuimgs/icon.png);background-position: 0 -70px;background-size:35px auto}
.top{position:absolute;top:50px;left:0;z-index:10;width:100%;padding:10px 15px;display:flex}
.top-search{ background:#f7f7f7; border-radius:25px; -webkit-border-radius:25px; -moz-border-radius:25px; -ms-border-radius:25px; -o-border-radius:25px;height:30px;line-height:30px;padding:0 15px;display:flex;align-items: center }
img{vertical-align:middle}
.top-img{width:15px;height:15px;margin-right:5px}
.top-it1{flex:1;height:30px;line-height:30px;font-size:12px;}
.w100{width:100%}
.h100{height:100%}
.top-input{border:0;background-color:transparent}
.leftbox{position:absolute;top:100px;width:90px;left:0;overflow-y:scroll;bottom:0;background:#f6f6f6;z-index:10;color:#666;font-size:12px;text-align:center}
.leftbox-img{width:90px;height:45px;line-height:45px;font-size:13px;text-overflow:ellipsis;white-space: nowrap;overflow:hidden}
.icon{width:15px;height:15px;vertical-align:top;margin-top:15px}
.rightbox{position:absolute;left:0;padding-left:100px;width:100%;top:100px;background:#fff;bottom:0;overflow:scroll;padding-bottom:45px;z-index:5}
.rigthbox-tit{position:fixed;top:100px;width:668px;height:45px;line-height:45px;z-index:10;text-align:left;font-size:13px;color:#ea5858;font-weight:bold;padding-left:20px;background:#fff}
.goodstitle{height:45px;line-height:45px;font-size:13px;color:#333;padding-left:20px}
.overflow{overflow:hidden}
.ftc{text-align:center}
.goodstitle-item{width:33.3%;float:left}
.goodstitle-img{width:80%;margin:0 auto}
.ft12{font-size:12px}
.c666{color:#666}

































































