*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: block;
}
img{
    width: 100%;
    display: block;
}
.all{
    max-width: 7.5rem;
    margin: auto;
    background-color: #fff;
}
.flex{
    display: flex;
}
.headbox{
width: 100%;
}
.headbox .header{
    width: 100%;
    height: 50px;
    background: #fff;
    line-height: 50px;
    color: #333;
    position: relative;
}
.headbox .border-b:before{
    border-bottom: 1px solid #e5e5e5;
    bottom: 0;
}
.header .left-back{
    width: 35px;
    height: 35px;
    background: url(../images/imgh/icon.png) 0 0 no-repeat;
    background-size: 35px auto;
    position: absolute;
    left: 5px;
    top: 7px;
    background-position: 0 0;
}
.header .header-text{
    text-align: center;
    margin: 0 65px;
    font-size: 18px;
}
.header .right-more{
    width: 35px;
    height: 35px;
    background: url(../images/imgh/icon.png) 0 0 no-repeat;
    background-size: 35px auto;
    position: absolute;
    right: 5px;
    top: 7px;
    background-position: 0 -70px;
}
.headbox .active{
    display:none;
}
.headbox .menubox .menu-nav{
    width: 100%;
    height: 65px;
    background: #fff;
}
.headbox .menubox .menu-nav a{
    width: 25%;
    font-size: 14px;
    color: #666;
    text-align: center;
    padding-top: 0.11rem;
}
.headbox .menubox .menu-nav a span{
    display: block;
    margin: auto;
    width: 25px;
    height: 25px;
    background: url(../images/imgh/menu.png) 0 0 no-repeat;
    background-size: 234px 163px;
}
.headbox .menubox .menu-nav a .ico1{
    background-position: -172px -7px;
}
.headbox .menubox .menu-nav a .ico2{
    background-position: -172px -49px;
}
.headbox .menubox .menu-nav a .ico3{
    background-position: -172px -90px;
}
.headbox .menubox .menu-nav a .ico4{
    background-position: -172px -133px;
}
.moudle .moud{
    font-size: 0;
    width: 100%;
    margin-bottom: 0.4rem;
}
.moudle .banner{
    width: 100%;
    height: 4.8rem;
}

.moudle .kuajing{
    width: 100%;
    /* height: 0.68rem; */
}
.moudle .kind .divimg{
    width: 22%;
    display: inline-block;
}
.moudle .kepu div{
    display: inline-block;
    width: 48%;
}
.moudle .gouliang div{
    display: inline-block;
    width: 48%;
}
.moudle .zuhe div{
    display: inline-block;
    width: 48%;
}
.moudle .brand div{
    display: inline-block;
    width: 48%;
}
.moudle .most .square{
    display: inline-block;
    margin-left: 5px;
    width: 48%;
    padding: 0 5px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    margin-bottom: 0.4rem;
}
.moudle .most .square .tiaozhuan{
    display: block;
    padding: 15px;
}
.moudle .most .square .tiaozhuan .baozhuang{ 
    margin: 0 auto;
}
.c33{
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
}
.c44{
    font-size: 10px;
    color: #f03e3e;
    margin-top: 3px;
    font-weight: 700;
}
.moudle .most .square .c11{
    margin: 0 15px;
}
.moudle .most .square .c11 .buy{
    width: 26px;
    height: 26px;
    float: right;
    margin-bottom: 15px;
}
.moudle .backtop{
    position: fixed;
    bottom: 50px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: url(../images/imgh/top.png) no-repeat;
    background-size: 100% auto;
    z-index: 10;
}
