body{
    background-color: #fff;
}
.index{
    max-width: 750px;
    margin: 0 auto;
}
.header{
    height: 12.25rem;
    width: 100%;
    /* background-color: thistle; */
    position: relative;
}
.header .banner .swiper-wrapper{
    height: 100%;
    width: 100%;
}
.header .banner .swiper-wrapper img{
    width: 100%;
}
.header .banner {
    width: 100%;
    height: 5.8rem;

}
.header .banner .swiper-slide {

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.header .banner .swiper-pagination-bullet{
    border: 1px solid rgb(144, 106, 106);
    background-color: transparent;
    opacity: 1;
}
.header .banner .swiper-pagination-bullet-active{
    background-color: rgb(126, 112, 209)
}
.header .topMenu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1;
    /* background-color: cadetblue; */
}
.header .topMenu .search{
    margin-top: 25px;
    padding: 0 0.15rem;
    height: 30px;
    /* background-color: thistle; */
}
.header .topMenu .search .srh{
    height: 100%;
    width: 6.6rem;
    border-radius: 0.3rem;
    outline: none;
    background-color: #fff;
    border: #fff;
    padding: 0 15px 0 30px;
    background-image: url(../images/imgm/search.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;

}
.header .topMenu .search .msg span{
    display: block;
    height: 25px;
    width: 25px;
    background-image: url(../images/imgm/massage.png);
    background-size: 25px 25px;
}
.header .topMenu .nav {
    width: 100%;
    height: 45px;
  }
.header .topMenu .swiper-slide {
    text-align: center;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .header .topMenu .swiper-slide a{
    font-size: 14px;
    color: #fff;
  }
  .header .promotion{
      position: absolute;
      top: 5.2rem;
      left: 0;
      height: 2.3rem;
      width: 100%;
      /* background-color: slategrey; */
      z-index: 1;
  }
  .header .promotion ul{
      height: 100%;
      width: 100%;
  }
  .header .promotion ul li{
      float: left;
      height: 100%;
      width: 20%;
      /* background-color: yellowgreen; */
  }
  .header .promotion ul img{
    width: 1.5rem;
  } 
  .header .promotion img{
    width: 100%;
  }
  .con1{
    margin-top: 30px;
  }
  .con1 img{
    width: 3.75rem;
  }
  .con2{
    margin: 20px 0;
  }
  .con2 img{
    width: 7.5rem;
  }
  .con3{
    margin: 20px 6px;
    box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.1);
    border-radius: 15px;
    /* height: 2.4rem; */
    width: 7.3rem;
    box-shadow: 1px 2px 25px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    /* background-color: slateblue; */
  }
  .con3 .fl{
     width: 50%;
     height: 100%;
     /* border:1px solid salmon;  */
  }
  .con3 .fl .title{
      height: 25px;
      width: 100%;
      background-color: #fff;
      background-size: 60px 16px;
      background-position-x: 20px;
      background-position-y: 5px;
      background-repeat: no-repeat;
  }
  .con3 .fl a{
    float: left;
      display: block;
      width: 50%;
      text-align: center;
      /* background-color: #eaa; */
  }
  .con3 .fl a img{
    height: 100px;

  }
  .con3 .fl a .price{
    color: #ff5757;
    font-size: 14px;
    font-weight: 700;
  }
  .con3 .fl a .del{
    font-size: 12px;
    color: #999;
  }
 .con4 .mui-slider{
   text-align: center;
   width: 95%;
   margin-top: 40px;
   margin:  0 auto;
 }
 .con4 .mui-slider img{
   padding: 0.1rem;
   border-radius:0.3rem;
 }
 .con4 .mui-slider .mui-slider-group .mui-slider-item img.p5{
  width: 50%;
  float: left;
 }
 .con4 .title,.con5 .title,.con6 .title{
   padding:0 0.2rem; 
 }
 .con4 .title .fl,.con5 .title .fl,.con6 .title .fl{
  font-weight: 800;
  font-size: 0.16rem;
 }
 .con4 .title .fr,.con5 .title .fr,.con6 .title .fr{
   font-size: 0.14rem;
 }
 .con5{
   margin: 20px 0;
   text-align: center
 }
 .con5 .title{
   margin: 10px 0;
 }
 .con5 .mui-slider .mui-slider-group .mui-slider-item img{
   width: 95%;
   border-radius: 0.2rem;
 }
 .con6{
   margin-top: 20px;
 }
 .con6 .title{
   margin: 10px 0;
   padding: 0 0.2rem;
 }
 .con6 .mui-slider-item a{
   display: inline-block;
   width:95%;
   height: 1.8rem;
   margin: 0 auto;
   background-color: #fff;
   padding: 0.2rem;
   border-radius: 0.15rem;
   box-shadow: 1px 2px 25px 6px rgba(0,0,0,0.2);
  }
  .con6 .mui-slider .fl{
    margin-top: 0.1rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #999;
  }
  .con6 .mui-slider .fl img{
    width: 1.2rem;
    height: 1.2rem;
  }
  .con6 .mui-slider .fr{
    margin-top: 0.1rem;
    width: 5.4rem;
    height: 1.2rem;
    /* background-color: #999; */
  }
  .con6 .mui-slider .fr p.desc{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.14rem;  
  }
  .con6 .mui-slider .fr p{
    margin-bottom: 0.05rem;
    color: #333;
    height: 0.20rem;
    line-height: 0.20rem;
    font-size: 0.12rem;
  }
  .con6 .mui-slider .fr p.tag span{
    display: inline-block;
    background: #41c856;
    border-radius: 0.15rem;
    padding: 0 0.06rem;
    margin-right: 0.02rem;
    color: #fff;
  }
  .con6 .mui-slider .fr #price{
    font-size: 0.14rem;
    color: #ff5757;
    font-weight: 600;
  }
  .con6 .mui-slider .fr .new{
    font-size: 0.12rem;
    display: inline-block;
    border: 1px solid #333;
    border-bottom-right-radius: 0.08rem;
    border-top-left-radius: 0.08rem;
    padding: 0 0.05rem;
  }