* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fl{
  float: left;
}
.fr{
  float:right;
}
body {
  /* background-color: #fff; */
}
div {
  display: block;
}
img {
  width: 100%;
  display: block;
}
.all {
  max-width: 7.5rem;
  margin: auto;
  /* background-color: #fff; */
}
.flex {
  display: flex;
}
.headbox {
  width: 100%;
}
.headbox .header {
  width: 100%;
  height: 50px;
  background: #fff;
  line-height: 50px;
  color: #333;
  position: relative;
}
.headbox .border-b:before {
  border-bottom: 1px solid #e5e5e5;
  bottom: 0;
}
.header .left-back {
  width: 35px;
  height: 35px;
  background: url(../images/imgh/icon.png) 0 0 no-repeat;
  background-size: 35px auto;
  position: absolute;
  left: 5px;
  top: 7px;
  background-position: 0 0;
}
.header .header-text {
  text-align: center;
  margin: 0 65px;
  font-size: 18px;
}
.header .right-more {
  width: 21px;
  height: 21px;
  background: url(../images/imgh/ch.png) 0 0 no-repeat;
  background-size: 20px 20px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.headbox .active {
  display: none;
}
.headbox .menubox .menu-nav {
  width: 100%;
  height: 65px;
  background: #fff;
}
.headbox .menubox .menu-nav a {
  width: 25%;
  font-size: 14px;
  color: #666;
  text-align: center;
  padding-top: 0.11rem;
}
.headbox .menubox .menu-nav a span {
  display: block;
  margin: auto;
  width: 25px;
  height: 25px;
  background: url(../images/imgh/menu.png) 0 0 no-repeat;
  background-size: 234px 163px;
}
.headbox .menubox .menu-nav a .ico1 {
  background-position: -172px -7px;
}
.headbox .menubox .menu-nav a .ico2 {
  background-position: -172px -49px;
}
.headbox .menubox .menu-nav a .ico3 {
  background-position: -172px -90px;
}
.headbox .menubox .menu-nav a .ico4 {
  background-position: -172px -133px;
}
/* 主体部分 */
.nologin{
    position: relative;
    height: 100vh;
    display: none;
}
.nologin .empty{
    height: 205px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
.nologin .empty .emptyimg {
  box-sizing: border-box;
  width: 100%;
}
.nologin .empty .emptyimg .emt {
  margin: 0;
  background: url(../images/imgh/empty.png) no-repeat center center;
  background-size: auto 100%;
  width: 40%;
  height: 110px;
  display: block;
  margin: 0 auto;
}
.nologin .empty .emptytip {
  margin-top: 10px;
}
.nologin .empty .emptytip p {
  font-size: 16px;
  color: #666;
  text-align: center;
}
.nologin .empty .empty-a {
  margin-top: 20px;
}
.nologin .empty .empty-a a {
  border: 1px solid #f03e3e;
  color: #f03e3e;
  font-size: 17px;
  border-radius: 30px;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  margin: 0 auto;
}
.main{
  max-width: 750px;
  margin-top: 10px;
  background-color: #fff;
}
.main .mycar input{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 1px solid #d7d7d7;
background-color: #fff;
outline: 0!important;
}
.main .mycar .tip{
  height: 45px;
}
.main .mycar .tip .checkbox{
  padding: 12px;
}
.main .mycar .tip .checkbox input{
  float:left;
}
.main .mycar .tip .checkbox span,input,b{
  margin-right: 10px;
}
.main .mycar .tip .checkbox span{
  background: none;
  color: #333;
  font-size: 15px;
  margin-right: 0;
  padding: 0px 5px 1px 0px;
  display: inline-block;
  border-radius: 3px;
  float:left;
}
.main .mycar .tip .checkbox b{
  background: #fbeacf;
  border: 1px solid #fbeacf;
  color: #ecb44b;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 16px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  float: left;
  margin-top: 5px;
}
.main .mycar .checked{
  background:#ea5858;
  border-radius:1px solid #ea5858;

}
.main .mycar .store{
  padding: 0 0 0 12px;
  height: 110px;
}
.main .mycar .store input{
  line-height: 110px;
}
.main .mycar .store .commodity{
  border-bottom: 1px solid #ebebeb
}
.main .footer{
  position:fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.main .footer .all-price{
  line-height: 60px;
  margin-left: 12px;
}
.main .footer .all-price input{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  -webkit-appearance: none
}
.main .footer .all-price span i{
  color: #f03e3e;
  font-weight: 700;
}
.main .footer .gobuy{
  width: 85px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin:12px 10px;
  background-color: #f03e3e;
  border-radius: 5px;
  color: #fff;
}