<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/book.css">
    <link rel="stylesheet" href="../../css/iscroll.css">
</head>

<body>
    <div class="wrap">
        <header>
            <div class="headerText">小萌书</div>
            <div class="left-back"></div>
            <div class="right-more"></div>
        </header>
        <div class="opgc_header">
            <div class="fixed_header">
                <div class="header_min">
                    <div class="header_min_top">
                        <div class="pets_type fl">
                            <img class="pet_position" src="../../images/liuimgs/dingwei.png">
                            <span class="ft14">狗狗</span>
                            <img class="pet_position_item" src="../../images/liuimgs/dingwei1.png" />
                        </div>
                        <div class="search_max fl">
                            <a class="search">
                                <img class="search_img" src="../../images/liuimgs/search.png">
                                <span class="search_content">请输入搜索内容</span>
                            </a>
                        </div>
                        <a class="news fr">
                            <img class="news_img" src="../../images/liuimgs/xiaolian.png" />
                        </a>
                    </div>
                    <ul class="header_min_nav">
                        <li class="header_min_nav_item">收藏</li>
                        <li class="header_min_nav_item">推荐</li>
                        <li class="header_min_nav_item">达人测评</li>
                        <li class="header_min_nav_item">养宠视频</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_list">
            <div class="main_list_nav">
                <div class="main_list_nav_item">
                    <a>
                        <img src="../../images/liuimgs/eat.png">
                    </a>
                </div>
                <div class="main_list_nav_item">
                    <a>
                        <img src="../../images/liuimgs/diseasePet.png">
                    </a>
                </div>
                <div class="main_list_nav_item">
                    <a>
                        <img src="../../images/liuimgs/moreTool.png">
                    </a>
                </div>
                <div class="main_list_nav_item">
                    <a>
                        <img src="../../images/liuimgs/protectPet.png">
                    </a>
                </div>
                <div class="main_list_nav_item">
                    <a>
                        <img src="../../images/liuimgs/knowledgeBase.png">
                    </a>
                </div>
            </div>
            <div class="main_list_comments">
                {{foreach $arr as $value}}
                <div class="main_list_comments_item">
                    <div class="list_video clearfix">
                        <div class="list_video_top fl">
                            <a>
                                <div class="img_video fl">
                                    <img src='{{$value["src"]}}'>
                                </div>
                                <div class="title fl">
                                    <h3 class="twoLine">{{$value["title"]}}</h3>
                                    <p>{{$value["description"]}}</p>
                                </div>
                            </a>
                        </div>
                        <div class="list_video_top_bottom clearfix">
                            <div class="autor fl">
                                <a>
                                    <img class="autor_img" src='{{$value["head"]}}'>
                                    <span class="autor_text">{{$value["autor"]}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/foreach}}
            </div>
        </div>
    </div>
    <script src="../../js/book.js"></script>
    <script src="../../js/iscroll-probe.js"></script>
</body>

</html>